/*@media screen and min-width 1px and max-width 767px {
    #columns[data-columns]::before {
        content: '2 .col-xs-6';
    }
}

@media screen and min-width768px and max-width 991px {
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}

@media screen and min-width992px and max-width 9999px {
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}
*/
.h1-title{
    font-size: -webkit-xxx-large;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.h4-title{
    font-size: x-large;
    font-weight: normal;
    color: white;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 5px;
}

.h-logo{
  max-height: 100%;
}

.logo-pic{
  vertical-align: bottom;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 10%;
  max-width: 10%;
}

#columns{
    margin-top: 30px;
    margin-bottom: 5px;
}


.fridge-item{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(162,162,162,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(162,162,162,1);
    box-shadow: 3px 3px 5px 0px rgba(162,162,162,1);
    height: 200px;
    margin: 10px;
}

.fridge-item-pad {
    padding: 0;
}


.giphy-image{
    padding: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0; left:0;
    opacity:0.65;
}

.text-layer{
    background-color: rgba(59, 59, 59, 0.53);;
    left: 10px;
    right: 10px;
    position: absolute;
    bottom: 10px;
}

.item-name{
    font-size: 20px;
    position: relative;
    left: 25px;
    bottom: 0px;
    color: white;
}

.item-count{
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 0px;
    color: white;
}


.h2{
    margin-bottom: 12px;
}
.header-lol{
    width: 100%;
    height: 100%;
    background-color: rgba(211, 84, 0, 1);
    /*background-color: rgba(80, 80, 80, 1);*/
    margin-top: 0px;
    padding: 2px;
    /*text-align: -webkit-center;*/
    padding-left: 10%;
    font-weight: bold;
    color: black;
}
/*.header-header{
    height: 10px;
    width: 100%;
    background-color: #689F38;
}*/

.transaction-string{
  font-size: 22px;
}

.time-string{
  font-weight: lighter;
  font-size: large;
  color: white;
}

.event-row{
  margin-top: 5px;
  margin-bottom: 5px;
}

hr.seperator {
  border: 0;
  height: 1px;
  margin-top: 1px;
  margin-bottom: 6px;
  background-image: linear-gradient(to right, rgba(98, 98, 98, 0), rgba(117, 117, 117, 0.39), rgba(100, 100, 100, 0));
}

.fridge-events-box{
    border-style: solid;
    border-width: 1px;
    background-color: rgba(172, 213, 45, 0.96);
    border-color: rgba(187, 187, 187, 0.8);
    margin: -5px;
    margin-top: 35px;
    padding: 8px;
    color: white;
}

.fridge-events-header{
    font-size: xx-large;
    color: white;
}

.spinner-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
